body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.copertina_menu {
    width: 21cm;
    height: 29.7cm;
    margin: 2cm auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-image: url(./copertina.png);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: Vijaya;
    color: #fff;
    background-color: #880015;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    backgr8ound-color: #0056b3;
}

.button_container {
    align: center;
    width: 21cm;
    text-align: center;
}

.prova {
    padding-top: 1.5cm;
}

p {
    margin-left: 1.5cm;
    font-family: Aldhabi;
    font-size: 24px;
}

.pagina_menu {
    width: 21cm;
    height: 29.7cm;
    margin: 2cm auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
}