body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 21cm;
    height: 29.7cm;
    margin: 2cm auto;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #333;
    font-family: Vijaya;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Aldhabi;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: Vijaya;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button_container {
    align: center;
    width: 100px;
}
